@use "../abstracts/variables" as *;

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

html {
    background-color: #fff;
    font-size: $font-size;
    scrollbar-gutter: stable;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
}

p {
    margin-bottom: 1.5em;
}

hr {
    background-color: #333;
    border: 0;
    box-sizing: content-box;
    height: 2px;
    width: 100%;
}

.text-accent {
    color: $accent-color;
}

.text-alt {
    color: $alt-color;
}

.text-highlight {
    border-bottom: 2px solid $accent-color;
    transition: all 0.25s ease-out;

    &:hover {
        background-color: $accent-bg;
    }
}

.block-highlight {
    border: 2px solid transparent;
    transition: all 0.25s ease-out;

    &:hover {
        border-color: $accent-color;
    }
}

.page-content {
    display: grid;
    grid-template-columns: minmax(1.5rem, 1fr) minmax(0, 68.75em) minmax(1.5rem, 1fr);
}